<!-- <<p>{{res | json}}</p> -->
<!-- <app-main class="flex flex-wrap xl:container xl:mx-auto xl:gap-28 xl:justify-between maxiimum"></app-main> -->
<!-- <div *ngIf="!login" class="flex border-collapse flex-col">
  <div class="flex border-collapse flex-col w-40 gap-5 mx-auto my-auto">
    <input type="text" class="border-solid border-2 border-indigo-600" [(ngModel)]="name">
    <input type="password" class="border-solid border-2 border-indigo-600">
    <input type="submit" value="Login" (click)="log()">

  </div>
</div>
<div *ngIf="login">
  <div (click)="LogOut()">
    <p>{{name}}/LogOut</p>
  </div>
</div> -->
<router-outlet></router-outlet>
