<div class="absolute border-solid border-2 border-666 modal">
  <h1>Details {{obj.name}}</h1>
  <p>model: {{obj.model}}</p>
  <p>manufacturer: {{obj.manufacturer}}</p>
  <p>cost_in_credits: {{obj.cost_in_credits}}</p>
  <p>max_atmosphering_speed: {{obj.max_atmosphering_speed}}</p>
  <p>crew: {{obj.crew}}</p>
  <p>cargo_capacity: {{obj.cargo_capacity}}</p>
  <p>consumables: {{obj.consumables}}</p>
  <p>hyperdrive_rating: {{obj.hyperdrive_rating}}</p>
  <p>MGLT: {{obj.MGLT}}</p>
  <p>pilots: {{obj.pilots}}</p>
</div>
